{% extends "BetaArgenti/BetaArgenti_main.html" %}
{% block content %}
    {% if not user.is_authenticated %}
        <script>
            window.location.replace("{% url 'login' %}");
        </script>
    {% endif %}
    <div class = "container-fluid">
        <table class = "table">
            <tr><th scope= "row">
                <td><h1>Profile</h1></td>
                <td><button class = "btn btn-primary" style="margin-top: 10px;">Edit Profile</button></td>
            </th></tr>
            <tr><th scope = "row">
                <td>Name</td>
                <td>
                    {{ user.profile.name }}
                </td>
            </th></tr>
            <tr><th scope = "row"><td>Username</td><td>{{ user.username }}</td></th></tr>
            <tr><th scope = "row"><td>Email</td><td>{{ user.email }}</td></th></tr>
            <tr><th scope = "row">
                <td>Subjects</td>
                <td>
                    {% for i in subjects %}
                        <button class = "btn btn-primary">{{ i }}</button>
                    {% endfor %}
                </td>
            </th></tr>
            <tr><th scope = "row">
                <td>Chats</td>
                <td>
                    {% for i in chats %}
                        <button class = "btn btn-success">{{ i }}</button>
                    {% endfor %}
                </td>
            </th></tr>
        </table>
    </div>
{% endblock %}