{% extends "BetaArgenti/BetaArgenti_main.html" %}
{% block content %}
    {% if not user.is_authenticated %}
        <script>
            window.location.replace("{% url 'login' %}");
        </script>
    {% endif %}
    <br>
    <div class="container-fluid">
        <article class = "subject-view">
            {% if subject %}
                <h1>{{ subject.title }}</h1>
                <p>{{ subject.description }}</p>
                <div class = "author-subject-view">Authored by: {{ subject.author }}</div>
            {% else %}
                <h1>title</h1>
                <p>description</p>
                <div class = "author-subject-view">Authored by: Author name</div>
            {% endif %}
        </article>
    </div>
{% endblock %}